{% extends "layout.html" %}
{% load static %}

{% block head_title %}
Home
{% endblock %}

{% block extra_head %}
{% endblock %}


{% block content %}
<h3>Plants</h3>
<div class="container">
    <div class="row">
      {% if user.is_authenticated %}
        {% for plant in plants %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid" src="{{ plant.plant.plant_image.url }}" alt="Logo">  
                        <button class="btn btn-primary" type="button" data-id={{ plant.plant.plant_access_token }} data-info='more-data'>More info?</button>
                        <button class="btn btn-secondary" type="button" data-id={{ plant.plant.plant_access_token }} data-info='Health'>Health</button>
                        <button class="btn btn-danger" type="button" data-id={{ plant.plant.plant_access_token }} data-info='Delete'>Delete</button>
                        {% if plant.plant_data_edible_parts %}
                        <button class="btn btn-danger" type="button" data-id={{ plant.plant.plant_access_token }} data-info='Recepy'>Recepy</button>
                        {% else %}
                        <p> Not eatable! </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
      {% endif %} 
    </div>
</div>
{% endblock %}  

{% block content2 %}
<div id="plant-data">
    <div class="card">
        <img class="card__img" id="image" src="" alt="Image">
        <div class="card__content">
            <h1 class="card__header" id="name"></h1>
            <p class="card__text" id="text"> <strong></strong> </p>
            <a class="card__text" id="wiki" href=""></a>
            
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">List of disease: </h5>
        </div>
        <div class="modal-body">
          <ul id="disease-list"></ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-info="close">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %} 