{% extends "layout.html" %}
{% load static %}

{% block head_title %}
Home
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content-header %}
<h3>Plants</h3>
{% endblock %} 

{% block content %}

{% if user.is_authenticated %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
  {% for item in plants_with_details %}
    <div class="card">
      <div class="card__header">
        <div class="title-background">
          <div class="title">
            <p>{{ item.common_names_list|join:", " |upper }}. </p>
          </div>                
        </div>
      </div>

      <div class="card-body">
        <img class="card__img" src="{{ item.plant_data.plant_data_plant.plant_image.url }}" alt="Logo">  
        <hr style="border: 1px solid black; width: 80%;">
        <div class="small-font" class="btn-group">
          <!-- <button class="card__btn" type="button" data-id={{ item.plant_data.plant_data_plant.plant_access_token }} data-info='more-data'>More info?</button> -->
          <button class="card__btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" data-id={{ item.plant_data.plant_data_plant.plant_access_token }} data-info='more-data'>info</button>
          <button class="card__btn" type="button" data-id={{ item.plant_data.plant_data_plant.plant_access_token }} data-info='Delete'>Delete</button>                           
                      
          {% if item.plant_data.plant_data_edible_parts %}
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Nutrition
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for ing in item.ingredient_details %} 
                  <li class="dropdown-item d-flex justify-content-between align-items-center">
                    <button class="card__btn" type="button" data-bs-toggle="offcanvas" 
                    href="#offcanvasExample" aria-controls="offcanvasExample" data-id={{ ing.ingredient.ingredient_original_name }} data-info='more_data2'>{{ ing.ingredient.ingredient_original_name }}</button> 
                  </li>
                {% endfor %}
              </ul>
            </div>
        {% else %}
          <p> Plant Not eatable, no info on recepies or nutritional facts! </p>
        {% endif %}
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>           
  {% endfor %}
  </div>
</div>  
{% endif %}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">List of diseases: </h5>
        </div>
        <div class="modal-body">
          <ul id="disease-list"></ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
      <div class="clearfix">
        <img class="col-md-4 float-md-end mb-2 ms-md-2" id="image" src="" alt="Image">
        <p>
          <h5 class="offcanvas-title"  id="name"></h5>
          <div class="offcanvas-body" id="text">
          </div>
          <a id="wiki" href=""></a>      
        </p>
        <p>
          <h5 class="offcanvas-title"  id="name1"></h5>
          <div class="offcanvas-body" id="text1">
          </div>
        </p>   
        <p>
         <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>  
        </p>     
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">
        <div id="title_ingredient"></div>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <hr style="border: 1px solid black; width: 80%;">
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Attributes
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Nutrition</a></li>
          <li><a class="dropdown-item" href="#">Recepy</a></li>
        </ul>
      </div>
    </div>
  </div>





{% endblock %}  

{% block paging %}

<nav aria-label="Page navigation example" style="margin-top:20px;">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
{% endblock %}   




